@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;600;700;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins";
}
:root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #000000;
  }

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
    background-color: #000000;
    
  }
#project2{
    margin-top: 5px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);

}
.box-project2{
    width: 80%;
    margin-inline: auto;
}
.box-project{
    display: flex;
    gap: 10px;
}
.garis-samping  {
    color: #F5F5F5;
    background-color: #F5F5F5;
    border-radius: 50px;
    padding: 13px 2px;
    display: inline-block;
}
.head-judul-project h1{
    background-color: #9C3165 ;
    border-radius: 50px;
    color: #F5F5F5;
    font-weight: bold;
    padding: 10px 30px;
    display: inline-block;
    background: linear-gradient(to right, #EE4095, #801D64);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    font-size: 40px;
}

.p-project{
    color: #F5F5F5;
    margin-top: 30px;
    padding: 20px 50px;
    font-size: 24px;
    text-align: left;
}
.button-project{
    display: flex;
    justify-content: center; /* Pusatkan horizontal */
    align-items: center; /* Pusatkan vertikal */
    gap: 10px;
    
}
.button-project2{
    margin-top: 25px;
    text-decoration: none;
    background-color: #000000;
    border: 1px solid white; /* Warna garis pinggir oval */
    padding: 5px 20px; /* Jarak teks dengan garis pinggir */
    border-radius: 50px; /* Membuat bentuk oval */
    color: #F5F5F5;
    font-size: 32px;
}

#box-pembatas{
    margin-bottom: 90px;
}
.pembatas{
    display: flex;
    color: #F5F5F5;
    background-color: #9C3165 ;
    color: #F5F5F5;
    font-style: italic;
    background: linear-gradient(to right, #EE4095, #801D64);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    font-size: 30px;
    gap: 12px;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
}
.pembatas img{
    max-width: 25px;
    height: auto;
    
}

.judul p{
    font-size: 40px; /* Sesuaikan ukuran font */
    color: #EE4095; /* Warna teks */
    text-align: center;
    justify-content: center;
    padding: 1px 30px; /* Ruang dalam */
    border-radius: 25px; /* Membuat sudut membulat */
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    
}
.button-moreinfo p{
    justify-content: center; /* Pusatkan tombol */
    align-items: center;
    padding-bottom: 50px;
    margin-top: 10px;
    color: #F5F5F5;
    font-size: 24px;
}
#glimpse{
    margin-top: 90px;
    background-color: #9C3165;
    border-radius: 50px;
    margin-bottom: 90px;
}
#glimpse-2{
    margin-top: 90px;
    background-color: #D09B27;
    border-radius: 50px;
    margin-bottom: 90px;
}




/* projeck 1 */
#project{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    
    align-items: center;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
    
}
.head-project{
    padding-top: 30px;
    color: #F5F5F5;
    text-align: center;
}
.head-project h1{
    font-size: 54px;
}
.sub-judul-project{
    font-size: 20px;
}
.organisasi-project{
    width: 80%;
    margin-inline: auto;
    margin-bottom: 80px;
}
.container-project{
    display: flex;
    margin-top: 80px;
}
.judul-organisasi-project{
    color: #F5F5F5;
    font-size: 30px;
}

.container-konten-project {
    position: relative;
    width: 500px; /* Sesuaikan dengan ukuran gambar */
    overflow: visible;
    height: auto;
    display: flex;
    flex-direction: row;
}
.konten-project-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Supaya elemen pindah ke bawah jika tidak muat */
    max-width: 100%; /* Pastikan tidak melebihi batas */
    transition: transform 0.3s ease-in-out;
}

.image-project img {
    width: 100%;
    display: flex;
    /* transition: transform 0.3s ease-in-out; */
}

.judul-konten-project, 
.button-project-kc {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
}

.judul-konten-project {
    top: 60px;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Montserrat";
    padding: 0px 80px;
}

.button-project-kc {
    position: absolute;
    bottom: 10px; /* Menempel ke bawah */
    left: 280px; /* Menempel ke kiri */
    display: flex;
    align-items: flex-start;
    background-color: white; /* Warna latar belakang */
    border-radius: 30px; /* Agar melengkung */
    overflow: hidden;
    max-width: 150px;
}

.button-project-kc button {

    padding: 5px 3px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    
}
.button-1{
    content: "";
    width: 1px;
    background-color: transparent;
    color: #ffffff; /* Warna teks */
   flex: -1;
}
.button-2{
    background-color: #EE4095; /* Warna ungu gelap */
    color: white;
    flex: 1;
}

.button-project a {
    text-decoration: none;
    color: inherit;
}
